
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/fonts/iconfont.css">
    <link rel="stylesheet" type="text/css" href="/css/chat.css">
    <link rel="stylesheet" type="text/css" href="/css/chatsearch.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/JsonpAjax.js"></script>

</head>
<body>

<div class="chatContainer">
    <div class="chatBtn">
        <i class="iconfont icon-xiaoxi1"></i>
    </div>
    <div class="chat-message-num" ><p th:text="${session.chatUnreadNum}"></p></div>
    <div class="chatBox" ref="chatBox">
        <div class="chatBox-head">
            <div class="chatBox-head-one">
                <table align="center" cellspacing="0" cellpadding="20" border="0" >
                    <tr>
                        <td style="position: relative;">
                            <input id="text" type="text" placeholder="搜索好友">
                            <div id="word"></div>
                        </td>
                    </tr>
                </table>
                <div class="chat-close" style="margin: 10px 10px 0 0;font-size: 14px">关闭</div>
            </div>
            <div class="chatBox-head-two">
                <div class="chat-return">返回</div>
                <div class="chat-people">
                    <div class="ChatInfoHead">
                        <img src="" alt="头像">
                    </div>
                    <div class="ChatInfoName">这是用户的名字，看看名字到底能有多长</div>
                </div>
                <div class="chat-close">关闭</div>
            </div>
        </div>
        <div class="chatBox-info">
            <div class="chatBox-list" ref="chatBoxlist">
                <!--<div class="chat-list-people">-->
                    <!--<div><img src="/images/icon01.png" alt="头像"></div>-->
                    <!--<div class="chat-name">-->
                        <!--<p>自酌一杯酒</p>-->
                    <!--</div>-->
                    <!--<div class="message-num">10</div>-->
                <!--</div>-->
            </div>
            <div class="chatBox-kuang" ref="chatBoxkuang">
                <div class="chatBox-content">
                    <div class="chatBox-content-demo" id="chatBox-content-demo">

                        <!--<div class="clearfloat">-->
                            <!--<div class="author-name">-->
                                <!--<small class="chat-date">2017-12-02 14:26:58</small>-->
                            <!--</div>-->
                            <!--<div class="left">-->
                                <!--<div class="chat-avatars"><img src="/images/icon01.png" alt="头像"></div>-->
                                <!--<div class="chat-message">-->
                                    <!--给你看张图-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="clearfloat">-->
                            <!--<div class="author-name">-->
                                <!--<small class="chat-date">2017-12-02 14:26:58</small>-->
                            <!--</div>-->
                            <!--<div class="left">-->
                                <!--<div class="chat-avatars"><img src="/images/icon01.png" alt="头像"></div>-->
                                <!--<div class="chat-message">-->
                                    <!--<img src="/images/1.png" alt="">-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="clearfloat">-->
                            <!--<div class="author-name">-->
                                <!--<small class="chat-date">2017-12-02 14:26:58</small>-->
                            <!--</div>-->
                            <!--<div class="right">-->
                                <!--<div class="chat-message">嗯，适合做壁纸</div>-->
                                <!--<div class="chat-avatars"><img src="/images/icon02.png" alt="头像"></div>-->
                            <!--</div>-->
                        <!--</div>-->

                    </div>
                </div>
                <div class="chatBox-send">
                    <div class="div-textarea" contenteditable="true"></div>
                    <div>
                        <button id="chat-fasong" class="btn-default-styles"><i class="iconfont icon-fasong"></i>
                        </button>
                    </div>
                    <div class="biaoqing-photo">
                        <ul>
                            <li><span class="emoji-picker-image" style="background-position: -9px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -18px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -9px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -52px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -9px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -86px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -9px -120px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -120px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -120px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -120px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -120px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -120px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -9px -154px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -40px -154px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -71px -154px;"></span></li>
                            <li><span class="emoji-picker-image" style="background-position: -102px -154px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -133px -154px;"></span>
                            </li>
                            <li><span class="emoji-picker-image" style="background-position: -164px -154px;"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id=inputId th:value="${session?.user?.id}">
<input type="hidden" id="curcontactot">
<input type="hidden" id="imageUrl" th:value="${session?.user?.userImg}">
<script src="/js/jquery.min.js"></script>
<script th:inline="javascript">

    var userid =  $("#inputId").val();


    //定义websocket
    let wsUrl  = "ws://localhost:8080/wschat/"+userid; // websocket链接
    var lockReconnect = false;//避免重复连接
    var socket;

    function createWebSocket(){
        try {
            socket = new WebSocket(wsUrl);
            websocketInit();
        } catch (e) {
            console.log('catch');
            websocketReconnect(wsUrl);
        }
    }



    function websocketInit () {
        // 建立 web socket 连接成功触发事件
        socket.onopen = function (evt) {
            onOpen(evt);
        };
        // 断开 web socket 连接成功触发事件
        socket.onclose = function (evt) {
            websocketReconnect(wsUrl);
            onClose(evt);
        };
        // 接收服务端数据时触发事件
        socket.onmessage = function (evt) {

            onMessage(evt);
        };
        // 通信发生错误时触发
        socket.onerror = function (evt) {
            websocketReconnect(wsUrl);
            onError(evt);
        };
    };

    function onOpen(evt) {
        console.log("建立链接");
        //心跳检测重置
        heartCheck.start();
    }

    function onClose(evt) {
        console.log("连接已关闭...");
    }

    function onMessage(evt) {
        console.log('接收消息: ' + evt.data);
        var data = JSON.parse(evt.data);

        var to;
        var from;
        if (data.toString() !== 'hello') {		// 对后端传过来的数据正常处理
            // 所需的正常操作
            showdata(data);
            // 重新拉取一遍当前联系人未读消息条数 jquery显示出去
            to = data['toUserId'];
            from = data['fromUserId'];


            $.ajax({
                type: "GET",
                url: "/chat/countUnreadNumOneToOne",
                data: {from:from,
                    to:to
                },
                dataType: "JSON",
                success: function(result) {
                    //显示数字
                    var num  = result.data;
                    //对显示数字进行修改
                    var cur = $("#"+from);
                    cur.find(".message-num").html(num);
                }
            });
            //检查一下是否是好友关系
            // $.ajax({
            //     type: "GET",
            //     url: "/chat/checkIsRelation",
            //     data: {id1:userid,
            //         id2:from,
            //     },
            //     dataType: "JSON",
            //     success: function(result) {
            //
            //         if(result['code'] == 400) {
            //             //单向保存
            //             alert("单项保存");
            //             save(userid,from);
            //             //拉一下好友
            //             getContators();
            //         }
            //     }
            // });
            //重新拉取好友和未读消息
            getUnread();
            getContators();
        }

        //拿到任何消息都说明当前连接是正常的
        heartCheck.start();
    }

    function websocketReconnect(url) {
        if (lockReconnect) {       // 是否已经执行重连
            return;
        };
        lockReconnect = true;
        //没连接上会一直重连，设置延迟避免请求过多
        tt && clearTimeout(tt);
        var tt = setTimeout(function () {
            createWebSocket(url);
            lockReconnect = false;
        }, 5000);
    }

    //心跳检测
    var heartCheck = {
        timeout: 30000,
        timeoutObj: null,
        serverTimeoutObj: null,
        start: function () {
            console.log('start');
            var self = this;
            this.timeoutObj && clearTimeout(this.timeoutObj);
            this.serverTimeoutObj && clearTimeout(this.serverTimeoutObj);
            this.timeoutObj = setTimeout(function () {
                //发送测试信息，后端收到后，返回一个消息，
                socket.send("ping");
                self.serverTimeoutObj = setTimeout(function () {
                    socket.close();
                }, self.timeout);
            }, this.timeout)
        }
    }

    function onError(evt) {
        console.log('通信错误：' + evt.data);
    }




    $(function () {

        if(checkIsLogin()) {
            getContators();
            getUnread();
            //登录成功创建websocket对象
            createWebSocket();			// 创建websocket
        }

    });
    //检查登录
    function checkIsLogin() {
        var userid =  $("#inputId").val();
        if(userid == "" || userid == null || userid == undefined){
            return false;
        }
        return true;
    }
    //拉取联系人和未读消息数目
    function getContators() {
        $(".chatBox-list").empty();
        var userid =  $("#inputId").val();
        $.ajax({
            type: "GET",
            url: "/chat/getContactors",
            data: {userId:userid },
            dataType: "JSON",
            success: function(result) {
                var data = result['data'];
                //拿到自己头像路径
                for (var i = 0; i < data.length; i++) {
                    var p = data[i];
                    var name = p['contactor']['username'];
                    var img = p['contactor']['userImg'];
                    var unread = p['unReadNum'];
                    if(unread == 0){ unread == ""};
                    var id = p['contactor']['id'];
                    tr = '<div class="chat-list-people" id='+id+'>' +
                        '<div><img src='+img+' alt="头像"></div>' +
                        ' <div class="chat-name">' +
                        '<p>'+name+'</p>' +
                        '</div>' +
                        '<div class="message-num">'+unread+'</div>' +
                        '</div>';
                    $(".chatBox-list").append(tr);
                }
            }
        });
    }
    //检查所有未读数目
    function getUnread() {
        var userid =  $("#inputId").val();
        $.ajax({
            type: "GET",
            url: "/chat/countUnreadNum",
            data: {userId:userid },
            dataType: "JSON",
            success: function(result) {
                //显示数字
                var num  = result.data;
                $('.chat-message-num').html(num);
            }
        });
    }
    //初始化聊天界面
    screenFuc();
    function screenFuc() {
        var topHeight = $(".chatBox-head").innerHeight();//聊天头部高度
        //屏幕小于768px时候,布局change
        var winWidth = $(window).innerWidth();
        if (winWidth <= 768) {
            var totalHeight = $(window).height(); //页面整体高度
            $(".chatBox-info").css("height", totalHeight - topHeight);
            var infoHeight = $(".chatBox-info").innerHeight();//聊天头部以下高度
            //中间内容高度
            $(".chatBox-content").css("height", infoHeight - 46);
            $(".chatBox-content-demo").css("height", infoHeight - 46);

            $(".chatBox-list").css("height", totalHeight - topHeight);
            $(".chatBox-kuang").css("height", totalHeight - topHeight);
            $(".div-textarea").css("width", winWidth - 106);
        } else {
            $(".chatBox-info").css("height", 495);
            $(".chatBox-content").css("height", 448);
            $(".chatBox-content-demo").css("height", 448);
            $(".chatBox-list").css("height", 495);
            $(".chatBox-kuang").css("height", 495);
            $(".div-textarea").css("width", 260);

            $(".chatBox").css("display","none");

        }
    }
    (window.onresize = function () {
        screenFuc();
    })();
    //未读信息数量为空时
    var totalNum = $(".chat-message-num").html();
    if (totalNum == "") {
        $(".chat-message-num").css("padding", 0);
    }
    $(".message-num").each(function () {
        var wdNum = $(this).html();
        if (wdNum == "") {
            $(this).css("padding", 0);
        }
    });

    //打开/关闭聊天框
    $(".chatBtn").click(function () {
        //判断是否登录
        if([[${session.user}]]==null) {
            var s = confirm("你还未登录,请先登录?");
            if (s === true) {
                window.location.href = "/login";
                return;
            }
        }
        $(".chatBox").toggle(10);


    })
    $(".chat-close").click(function () {
        $(".chatBox").toggle(10);
    })

    //进聊天页面
    $(document).on("click",".chat-list-people",function () {
        //清空
        $('#word').html("");
        var n = $(this).index();
        var cur = $(this);
        $(".chatBox-head-one").toggle();
        $(".chatBox-head-two").toggle();
        $(".chatBox-list").fadeToggle();
        $(".chatBox-kuang").fadeToggle();

        //传名字
        $(".ChatInfoName").text($(this).children(".chat-name").children("p").eq(0).html());

        //传头像
        $(".ChatInfoHead>img").attr("src", $(this).children().eq(0).children("img").attr("src"));


        //查找对应的聊天记录回显出去 ajax


        //当前联系人的id
        var contatorId = $(this).attr('id');
        //设置websocket发送的id
        $("#curcontactot").attr("cid",contatorId);


        $.ajax({
            type: "GET",
            url: "/chat/Message",
            data: {hostId:userid,
                contatorId:contatorId,
            },
            dataType: "JSON",
            success: function(result) {
                var data = result['data'];
                //回显函数 先消灭所有的
                $(".chatBox-content-demo").empty();
                for(var i=0;i<data.length;i++){
                    showdata(data[i]);
                }
            }
        });
        //清零未读条数
        $.ajax({
            type: "GET",
            url: "/chat/clearUnread",
            data: {hostId:userid,
                contatorId:contatorId,
            },
            success: function(){
                //1.清零聊天数字
                cur.find(".message-num").html(0);

                //全部设置为已读
                getUnread();
            }
        });

        //聊天框默认最底部
        $(document).ready(function () {
            $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
        });
    });

    //返回列表
    $(".chat-return").click(function () {
        $(".chatBox-head-one").toggle(1);
        $(".chatBox-head-two").toggle(1);
        $(".chatBox-list").fadeToggle(1);
        $(".chatBox-kuang").fadeToggle(1);
        //清空一下div
        $(".chatBox-content-demo").empty();
    });

    // 发送信息
    $("#chat-fasong").click(function () {
        //获取发送的消息内容
        var textContent = $(".div-textarea").html().replace(/[\n\r]/g, '<br>');

        //发送消息的id
        var toUser = $("#curcontactot").attr("cid");
        //如果消息不为空
        if (textContent != "") {

            //使用websocket进行发送消息 ,首先进行持久话，然后回显到页面 回显用回调函数来表示

            //0表示不是图片
            var messageObj = {message:textContent,toUser:toUser,fromUser:userid};
            var messageJson = JSON.stringify(messageObj);
            //发送
            if(socket==null){

                socket = new WebSocket("ws://localhost:8080/wschat/"+userid);
            }
            socket.send(messageJson);


            var timestr = getFormatDate();



            var url = $("#imageUrl").val();
            var tr =  '<div class="clearfloat">' +
                '<div class="author-name"><small class="chat-date">'+timestr+'</small></div>' +
                '<div class="right">' +
                '<div class="chat-message">'+textContent+'</div>' +
                '<div class="chat-avatars"><img src='+url+' alt="头像"></div>' +
                '</div>' +
                '</div>';
            $(".chatBox-content-demo").append(tr);
            //发送后清空输入框
            $(".div-textarea").html("");
            //聊天框默认最底部
            $(document).ready(function () {
                $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
            });
        }

        //判断一下是不是好友关系
        $.ajax({
            type: "GET",
            url: "/chat/checkIsRelation",
            data: {id1:userid,
                id2:toUser,
            },
            dataType: "JSON",
            success: function(result) {

                if(result['code'] == 400) {
                    //单向保存
                    save(userid,toUser);
                    //拉一下好友
                    getContators();
                }
            }
        });

    });

    function save( id1, id2){
        $.ajax({
            type: "GET",
            url: "/chat/saveRelationship",
            data: {id1:id1,
                id2:id2,
            },
            dataType: "JSON",
            success: function(result) {
            }
        });
    }

    //      发送表情
    $("#chat-biaoqing").click(function () {
        $(".biaoqing-photo").toggle();
    });
    $(document).click(function () {
        $(".biaoqing-photo").css("display", "none");
    });
    $("#chat-biaoqing").click(function (event) {
        event.stopPropagation();//阻止事件
    });

    $(".emoji-picker-image").each(function () {
        $(this).click(function () {
            var bq = $(this).parent().html();
            console.log(bq)
            $(".chatBox-content-demo").append("<div class=\"clearfloat\">" +
                "<div class=\"author-name\"><small class=\"chat-date\">2017-12-02 14:26:58</small> </div> " +
                "<div class=\"right\"> <div class=\"chat-message\"> " + bq + " </div> " +
                "<div class=\"chat-avatars\"><img src=\"images/icon01.png\" alt=\"头像\" /></div> </div> </div>");
            //发送后关闭表情框
            $(".biaoqing-photo").toggle();
            //聊天框默认最底部
            $(document).ready(function () {
                $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
            });
        })
    });

    //发送图片
    function selectImg(pic) {

        if (!pic.files || !pic.files[0]) {
            return;
        }
        var reader = new FileReader();
        reader.onload = function (evt) {
            var images = evt.target.result;
            $(".chatBox-content-demo").append("<div class=\"clearfloat\">" +
                "<div class=\"author-name\"><small class=\"chat-date\">2017-12-02 14:26:58</small> </div> " +
                "<div class=\"right\"> <div class=\"chat-message\"><img src=" + images + "></div> " +
                "<div class=\"chat-avatars\"><img src=\"images/icon01.png\" alt=\"头像\" /></div> </div> </div>");
            //聊天框默认最底部
            $(document).ready(function () {
                $("#chatBox-content-demo").scrollTop($("#chatBox-content-demo")[0].scrollHeight);
            });
        };
        reader.readAsBinaryString(pic.files[0]);

    }

    //回显函数
    function showdata(data) {

        var p = data;
        var id = p['id'];
        var msgType = p['msgType'];
        var createTime = p['createTime'];
        var content = p['content'];
        var fromUserId = p["fromUserId"];

        var fromUserImage = p["fromUserImage"];
        var toUserImage = p["toUserImage"];
        var tr;
        if(userid == fromUserId){
            tr = '<div class="clearfloat">' +
                '<div class="author-name"><small class="chat-date">'+createTime+'</small></div>' +
                '<div class="right">' +
                '<div class="chat-message">'+content+'</div>' +
                '<div class="chat-avatars"><img src='+fromUserImage+' alt="头像"></div>' +
                '</div>' +
                '</div>'
        }
        else if(userid != fromUserId){
            tr = '<div class="clearfloat">' +
                '<div class="author-name"><small class="chat-date">'+createTime+'</small></div>' +
                '<div class="left">' +
                '<div class="chat-avatars"><img src='+fromUserImage +' alt="头像"></div>' +
                '<div class="chat-message">'+content+'</div>' +
                '</div>' +
                '</div>'
        }

        $(".chatBox-content-demo").append(tr);




    }

    //获取当前时间
    function getFormatDate(){
        var nowDate = new Date();
        var year = nowDate.getFullYear();
        var month = nowDate.getMonth() + 1 < 10 ? "0" + (nowDate.getMonth() + 1) : nowDate.getMonth() + 1;
        var date = nowDate.getDate() < 10 ? "0" + nowDate.getDate() : nowDate.getDate();
        var hour = nowDate.getHours()< 10 ? "0" + nowDate.getHours() : nowDate.getHours();
        var minute = nowDate.getMinutes()< 10 ? "0" + nowDate.getMinutes() : nowDate.getMinutes();
        return year + "-" + month + "-" + date+" "+hour+":"+minute;
    }
</script>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';"></div>

<div th:replace="nav :: js"></div>
</body>
</html>

